
.jumbotron{
    background: #333 url('../images/bg.jpg') no-repeat fixed center center;
    background-size: cover;
    color:#fff;
    text-align: center;
    border-bottom: 3px #f4f4f4 solid;

}
.navbar a{
    color:#fff;
    margin-bottom:3px;
}
.navbar a:hover{
    background:none !important;
    border-bottom:#fff 3px solid;
    margin-bottom:0;
    color: white;
    text-decoration: none	;
}

.errors {

    display: inline-block;
    border: 2px solid red;
    color: red;
    padding: 1em;
    margin-bottom: 1em;
}

.errors ul {
    margin-bottom: 0;
    padding-left: 1em;
}
